<div class="book_hover">
	<h4>{{title}}</h4>
	<p>{{author}}</p>
	<p>{{description}}</p>
</div>
<img class="thumbnail" src="http://img2.imagesbn.com/p/{{isbn}}_p0_v3_s260x420.JPG">
<!-- 
http://64ca748c39a345890e6b-a2677c3f012c8e9a65837c56c34332df.r55.cf5.rackcdn.com/{{isbn}}.jpg -->